@keyframes nav__noti__flip {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.03);
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-icons {
  margin: 0px 25px;
  position: relative;
}

.nav__noti {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: tomato;
  position: absolute;
  top: -20px;
  right: -20px;
  animation: nav__noti__flip 1s ease-in-out infinite;
}
