@keyframes no-mobile-fade {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.no-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 99;
  background: var(--yellow);
}

.no-mobile img {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.no-mobile span {
  background-color: turquoise;
  position: absolute;
  top: 50%;
  font-size: 30px;
  padding: 15px;
  border-radius: 20px;
  animation: no-mobile-fade 1s ease-in-out;
}

@media screen and (max-width: 700px) {
  .no-mobile {
    display: none;
  }
}
