.screen-header {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 25px;
  align-items: center;
}

.screen-header h1 {
  font-size: 28px;
  font-weight: 600;
}

.screen-header__header__chat {
  margin-left: 75px;
}

.screen-header__icons i {
  margin: 0px 8px;
}

.screen-header__name {
  font-size: 28px;
  font-weight: 600;
}

.screen-header__icons a {
  position: relative;
}

.screen-header__noti {
  width: 12px;
  height: 12px;
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: 0;
}

.screen-header__icons__cog {
  transition: all 1s ease-in-out;
}

.screen-header__icons__cog:hover {
  transform: rotateY(360deg);
}
