.status-bar {
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}

.status-bar__column {
  display: flex;
  justify-content: center;
}

.status-bar__column i,
.status-bar__column span {
  margin-right: 7px;
}
